h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

ul, li {
  list-style: none;
}

a {
  background: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: #FFFEFE;
  font-size: 16px;
}