* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

ul, li {
  list-style: none;
}

a {
  background: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: #FFFEFE;
  font-size: 16px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.default-button {
  background: #DA3743;
  color: #fff;
  font-size: 24px;
  padding: 6px 45px;
  border-radius: 19px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.default-button:hover{
  background: #d61724;
}
.section__city {
  color: #141A26;
  margin-bottom: 25px;
  transition: all 0.3s ease;
}
.section__city:hover {
  color: #FF1B2B;
}
.default-input {
  border: 0.5px solid #767676;
  border-radius: 19px !important;
  padding: 6px 20px;
}
.default-input ::placeholder {
  color: #2D333F;
  opacity: 0.65;
  text-overflow: ellipsis;
}